/*HEADER+FONT FORMATTING
----------------------------------------------------------------------------
*/
/* Align head text */
.header {
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  margin: 0px;
}

/* Add border to head */
.header {
  box-sizing: border-box;
  background: #000000;
}


/* Aligns and scales profile icon */
.profile-icon {
  height: 50px;
  margin-top: 8px;
  position: relative;
  left: 435px;
}

/* Let text stretch entire page */
body {
  margin: 0px;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* format form and font*/
body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
}

/*format font size and colour*/
form {
  max-width: 4000px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

/*THUMBS + SHOP NAME FORMATTING
----------------------------------------------------------------------------
*/
.titlethumbs > div{
  display: inline-block;
  margin: auto;
  margin-top: 8px;
  text-align: center;
  width: 33%;
  font-size: 32px;
}

.restaurantinformation {
  float: left ;
  width: 50% ;
}
.restaurantfeatures {
  float: right;
  width: 40%;
}

/*IMAGE ADJUSTMENT (ATTEMPTS)
----------------------------------------------------------------------------
*/

.restaurant {
  margin-left: 40px;
}

.restaurantimages{
  display: inline-flex;
}

.images {
  max-width:33%;
  max-height:300px;
  width: auto;
  height: auto;
  vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
}
